---
export interface Props{
    description?:string
}

const {description} = Astro.props
---

<p id="paragraph" class={`text-sm font-normal tracking-wide text-gray-800  ${description}`}>
    <slot/>
</p>
<style>
    p {
        font-family: "Roboto Slab", serif;
    }
</style>
