---
export interface Props{
    description?:string
}

const {description} = Astro.props
---

<p id="paragraph" class={`text-sm tracking-wide  ${description}`}>
    <slot/>
</p>
<style>
    p {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #2a282a;
    }
</style>

