---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro"
import Services from "../components/Services.astro";
import DividerSimple from "../shared/DividerSimple.astro";
import '../styles/global.css';
import Info from "../components/Info.astro";
import DividerInfo from "../shared/DividerInfo.astro";
import Footer from "../components/Footer.astro";
import Testimonials from "../components/Testimonials.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<Hero />
		<DividerSimple />
		<Services />
		<DividerInfo />
		<Info />
		<Testimonials />
		<Footer />
	</body>
</html>
