---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro"
import Services from "../components/Services.astro";
import DividerSimple from "../shared/DividerSimple.astro";
import DividerInfo from "../shared/DividerInfo.astro";
import Footer from "../components/Footer.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import RequirementsHairSalon from "../components/RequirementsHairSalon.astro";
import RequirementsDayCare from "../components/RequirementsDayCare.astro";
import '../styles/global.css';
import DividerRequirements from "../shared/DividerRequirements.astro";
---

<html lang="es">
	<head>
		<title>Rancho Aparte</title>
		<link rel="stylesheet" href="styles.css">
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="../assets/logo.png" sizes="32x32"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@501&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@501&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />		
	</head>
	<body>
		<Navbar />
		<Hero />
		<DividerSimple />
		<Services id="services"/>
		<DividerInfo />
		<RequirementsHairSalon id="requirements" />
		<DividerRequirements />
		<RequirementsDayCare />
		<Testimonials />
		<Contact/>
		<Footer />
	</body>
</html>


