---
import {Image} from 'astro:assets';
import WhatsAppIcon from '../assets/whatsapp_icon.svg';

---
<div>
    <div class="flex items-center justify-center">
        <button class="relative group overflow-hidden px-24 py-6 rounded-3xl animate-bounce flex space-x-2 items-center bg-gradient-to-r from-pink-500 to-purple-500 hover:to-purple-600">
            <span class="relative text-2xl text-white ">Contactate</span>
            <div class="flex items-center -space-x-3 translate-x-3">
              <div class="w-2.5 h-[1.6px] rounded bg-white origin-left scale-x-0 transition duration-300 group-hover:scale-x-100"></div>
              <Image src={WhatsAppIcon} alt="WhatsApp Icon" class="h-10 w-10 stroke-white -translate-x-2 transition duration-300 group-hover:translate-x-0" />
            </div>
          </button>
    </div>
</div>
