---
import {Image} from 'astro:assets';
import WhatsAppIcon from '../assets/whatsapp.png';
---
<div class="flex items-center justify-center pb-5" id="contact">
    <a href="https://api.whatsapp.com/send/?phone=542214989857&text&type=phone_number&app_absent=0">
      <div>
        <button class="overflow-hidden px-20 py-6 rounded-2xl animate-bounce flex space-x-2 items-center bg-gradient-to-r from-pink-500 to-purple-500 hover:to-purple-600">
          <span class="relative text-2xl text-white">Contactate</span>
          <Image src={WhatsAppIcon} alt="WhatsApp Icon" class="h-11 w-11 stroke-white" />
        </button>
      </div>
    </a>
  </div>
