---
import { Image } from 'astro:assets';
import HeroImage from '../assets/hero_dog.png';
---

    <div class="bg-purple-light py-1 flex items-center"> 
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 items-center"> 
        <div>
            <h1 class="text-2xl/tight sm:text-3xl/tight md:text-4xl/tight xl:text-5xl/tight font-bold text-heading-1">
                <span class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-purple-500">Mimá a tu amigo de cuatro patas como se lo merece</span>
            </h1>
          <div class="mt-6"> 
            <ul class="list-disc space-y-1 text-base text-gray-900"> 
              <li>Peluquería canina de alta gama: porque en Argentina, la elegancia no es solo para los humanos.</li>
              <li>Tu perro disfrutará de un cuidado diario en un ambiente seguro y divertido, con juegos, ejercicio y mucha atención.</li>
              <li>Boutique para mascotas: encuentra desde el juguete más divertido hasta el mueble más chic para mimar a tu compañero fiel.</li>
            </ul>
          </div>
        </div>
        <div>
          <Image src={HeroImage} alt="Imagen de perro" class="max-w-full" />
        </div>
      </div>
    </div>
  </div>