---
import { Image } from 'astro:assets';
import HeroImage from '../assets/herodog.png';
---
    <div class="bg-purple-light py-1 flex items-center" id="home">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 items-center text-center">
        <div>
            <h1 class="text-2xl/tight sm:text-3xl/tight md:text-4xl/tight xl:text-5xl/tight font-semibold text-heading-1">Mimalos como se lo merecen
            </h1>
          <div class="mt-6 text-xl leading-2">
           <p>El amor por tu perro se refleja en su cuidado: Peluquería, guardería y boutique canina
           </p>
          </div>
        </div>
        <div>
          <Image src={HeroImage} alt="Imagen de perro" class="max-w-full" />
        </div>
      </div>
    </div>
  </div>
