---
import { Image } from 'astro:assets';
import TriangleSeparator from '../assets/triangle_separator.svg';
import DividerInfoDark from '../shared/DividerInfoDark.astro';
---

<DividerInfoDark />
<div class="bg-gradient-to-b from-purple-medium to-white" id="outterdiv">
  <h2 id="testimonials" class="text-2xl/tight sm:text-3xl/tight mb-11 text-center pt-4 md:text-4xl/tight xl:text-5xl/tight font-bold text-heading-1">
    <span class="bg-clip-text text-white">¿Qué dicen de nosotros?</span>
  </h2>
  <div class="elfsight-app-6f52f3bc-4f12-4a3d-a26a-786a41c8f913" data-elfsight-app-lazy></div>
</div>
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<style>
  #outterdiv{
    margin-top: -3px;
  }
</style>
